<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>



      <%= require('html-loader!./assets/html/head.html') %>
  </head>

<body>









<div class=" ">

<%= require('html-loader!./assets/html/navbar.html') %>


<div class=" " id="home">

  <section id="banner" data-video="images/banner">
    <div class="inner">
      <header>
        <h1>This is Spellhack</h1>
        <p> </p>
      </header>
      <a href="#main" class="button big alt  ">Coming Soon 2019.</a>
    </div>

  </section>




  <div id="main">

  <!-- One -->
    <section class="wrapper style1">
      <div class="inner">
        <header class="align-center">
          <h2>Jump into the arena</h2>
          <p> </p>
        </header>
        <!-- 2 Column Video Section -->
          <div class="flex flex-2">
            <div class="video col">
              <div class="image fit">
                <img src="images/pic07.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Find powerful spells.
              </p>
              <a href="generic.html" class="link"><span>Click Me</span></a>
            </div>
            <div class="video col">
              <div class="image fit">
                <img src="images/pic08.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Dominate online.
              </p>
              <a href="generic.html" class="link"><span>Click Me</span></a>
            </div>
          </div>
      </div>
    </section>

  <!-- Two -->
    <section class="wrapper style2">
      <div class="inner">
        <header>
          <h2>Etiam veroeros lorem</h2>
          <p>Fusce fringilla enim sit amet lectus sollicitudin, eu tincidunt odio semper.</p>
        </header>
        <!-- Tabbed Video Section -->
          <div class="flex flex-tabs">
            <ul class="tab-list">
              <li><a href="#" data-tab="tab-1" class="active">Duis vestibulum tellus</a></li>
              <li><a href="#" data-tab="tab-2">Quam tempus sodales ipsum</a></li>
              <li><a href="#" data-tab="tab-3">Donec faucibus risus cursus</a></li>
            </ul>
            <div class="tabs">

              <!-- Tab 1 -->
                <div class="tab tab-1 flex flex-3 active">
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic01.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic02.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic03.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic04.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic05.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic06.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                </div>

              <!-- Tab 2 -->
                <div class="tab tab-2 flex flex-3">
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic06.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic05.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic04.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic03.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic02.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic01.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                </div>

              <!-- Tab 3 -->
                <div class="tab tab-3 flex flex-3">
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic03.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="images/pic02.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="img/pic01.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="img/pic06.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="img/pic05.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                  <!-- Video Thumbnail -->
                    <div class="video col">
                      <div class="image fit">
                        <img src="img/pic04.jpg" alt="" />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="generic.html" class="link"><span>Click Me</span></a>
                    </div>
                </div>

            </div>
          </div>
      </div>
    </section>

  <!-- Three -->
    <section class="wrapper ">
      <div class="inner">
        <header class="align-center">
          <h2>Aliquam ipsum purus dolor</h2>
          <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
        </header>

        <!-- 3 Column Video Section -->
          <div class="flex flex-3">
            <div class="video col">
              <div class="image fit">
                <img src="img/pic09.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Cras eget lacus sed mauris scelerisque tincidunt
              </p>
              <a href="generic.html" class="link"><span>Click Me</span></a>
            </div>
            <div class="video col">
              <div class="image fit">
                <img src="img/pic10.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Vivamus vulputate lacus non massa auctor lobortis
              </p>
              <a href="generic.html" class="link"><span>Click Me</span></a>
            </div>
            <div class="video col">
              <div class="image fit">
                <img src="images/pic11.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Nam eu nisi non ante sodales interdum a vitae neque
              </p>
              <a href="generic.html" class="link"><span>Click Me</span></a>
            </div>
          </div>
      </div>
    </section>

  </div>




  </div>
</div> <!-- orange theme -->



<div class="page-container" >





  <div class="whitespace-sm"></div>

  </div>



      <%= require('html-loader!./assets/html/footer.html') %>


      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="icon-arrow-up"></i></a>

  </body>
</html>
